ul {
    border-radius: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #ca1b1b;
      width:150px;
      float:right;
    }
  
  li 
  {
    padding: 20px 10px;
    display: inline-block;
    
      
  }
  li a {
  
      color: rgba(17, 2, 2, 0.966);
      text-align: center;
      padding: 10px 30px;
      text-decoration: none;
    }
  li a:hover {
      background-color: rgba(192, 192, 192, 0.897);
      color: rgba(236, 240, 8, 0.911);
      border-radius: 20px;}

body
{
  background-color: rgba(221, 218, 16, 0.904);

}